<div class="navbar-fixed">
	 <nav>
    <div class="nav-wrapper blue" style="padding: 0 10px;">
      <a href="#" class="brand-logo">TicoBuzz</a>

  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

      <ul class="right">
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-create"></i></a>
      </ul>
    </div>
  </nav>
</div>